.about-bitcoin {
  .about-bitcoin-container {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    .about-bitcoin-text {
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      color: #0f1629;
      margin-bottom: 25px;
    }
    .about-bitcoin-section1 {
      h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #0b1426;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #3e424a;
        padding-bottom: 15px;
        border-bottom: 1px solid #c9cfdd;
      }
    }
    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: #0b1426;
      margin: 15px 0 10px 0;
    }
    .about-bitcoin-section2 {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #c9cfdd;
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #3e424a;
      }
    }
    .about-bitcoin-section3 {
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        color: #0f1629;
        margin-top: 15px;
      }
      .card-container {
        display: flex;
        gap: 31px;
        border-bottom: 1px solid #c9cfdd;
        padding: 15px 0;
        .card1,
        .card2 {
          padding: 12px;
          border-radius: 6.65px;
          display: flex;
          gap: 27.61px;
          color: #fff;
          img {
            border-radius: 8px;
          }
          .card-text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            p {
              font-size: 20px;
              font-weight: 700;
              line-height: 28px;
              letter-spacing: 0em;
              color: #fff;
            }
            button {
              border: none;
              border-radius: 8px;
              padding: 2px 14px;
              width: fit-content;
              font-size: 14px;
              font-weight: 600;
              line-height: 28px;
              display: flex;
              gap: 6px;
              align-items: center;
              cursor: pointer;
            }
          }
        }
        .card1 {
          background: linear-gradient(135deg, #79f1a4 0%, #0e5cad 100%);
        }
        .card2 {
          background: linear-gradient(135.73deg, #ff9865 0%, #ef3031 110.55%);
        }
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #3e424a;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .about-bitcoin {
    .about-bitcoin-container {
      padding: 16px 10px;
      border: 1px solid #dee1e6;
      .about-bitcoin-text {
        margin-bottom: 16px;
      }
      .about-bitcoin-section1 {
        h2 {
          line-height: 26px;
        }
        p {
          font-weight: 400;
          padding-bottom: 10px;
          border-bottom: none;
        }
      }
      h2 {
        line-height: 26px;
        margin: 0 0 10px 0;
      }
      .about-bitcoin-section2 {
        padding-bottom: 0;
        border-bottom: none;
        p {
          font-weight: 400;
        }
      }
      .about-bitcoin-section3 {
        h1 {
          font-size: 18px;
          line-height: 26px;
          font-weight: 700;
          margin-top: 10px;
        }
        .card-container {
          flex-direction: column;
          gap: 15px;
          border-bottom: none;
          .card1,
          .card2 {
            padding: 11.2px;
            gap: 26px;
            img {
              width: 120px;
              height: 120px;
            }
            .card-text {
              gap: 15px;
              p {
                font-size: 18px;
                line-height: 26px;
              }
              button {
                padding: 0 13px;
                font-size: 13px;
                line-height: 26px;
                gap: 4px;
              }
            }
          }
        }
        p {
          margin-top: 0;
          font-weight: 400;
        }
      }
    }
  }
}
