.chart {
  .chart-container {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    .chart-header {
      padding-bottom: 24px;
      border-bottom: solid 1px #dee1e6;
      .chart-heading {
        display: flex;
        align-items: center;
        gap: 8px;
        h1 {
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
          color: #0b1426;
        }
        .btc {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          color: #5d667b;
        }
        .rank1 {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #fff;
          background-color: #808a9d;
          padding: 10px;
          border-radius: 8px;
          margin-left: 30px;
        }
      }
      .chart-details-usd {
        display: flex;
        align-items: center;
        margin-top: 40px;
        h1 {
          font-size: 28px;
          font-weight: 600;
          line-height: 38px;
          color: #0b1426;
        }
        .usd-percent-change {
          margin-left: 32px;
          display: flex;
          align-items: center;
          background-color: #285c4a;
          padding: 8px;
          border-radius: 4px;
        }
        p {
          margin-left: 12px;
          font-size: 14px;
          font-weight: 500;
          line-height: 27px;
          color: #768396;
        }
      }
      .chart-details-inr {
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        color: #0b1426;
      }
    }
    .tradingview-widget-container {
      box-sizing: border-box;
      //   padding: 24px;
      margin-top: 24px;
      border: none;
      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #0b1426;
        margin-bottom: 24px;
      }
      iframe {
        min-height: 574px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .chart {
    .chart-container {
      padding: 16px 10px;
      border: 1px solid #dee1e6;
    }
  }
}
