body {
  background-color: #eff2f5;
}
.main-container {
  margin: 20px 56px;
  display: flex;
  gap: 20px;
  .content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 420px) {
  .main-container {
    margin: 20px 14px;
    flex-direction: column;
  }
}

