.navigation-tab {
  display: flex;
  gap: 32px;
  border-bottom: solid 1px #d3e0e6;
  box-sizing: border-box;
  a {
    padding: 14.5px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #3e424a;
    cursor: pointer;
    border-bottom: solid 1px #eff2f5;
  }
  a:hover {
    color: #0141cf;
    border-bottom: solid 1px #0141cf;
  }
}
.performance {
  .performance-container {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
    }
    .performance-metrix {
      margin: 28px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .performances-details {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .low-high {
          .heading {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #44475b;
          }
          .price {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: #44475b;
            margin-top: 10px;
            padding: 0 20px 0 0;
          }
        }
        .slider {
          background: linear-gradient(
            90deg,
            #ff4949 0%,
            #ff4e11 15.34%,
            #fc870a 30.45%,
            #ffaf11 48.68%,
            #c2cb21 62.75%,
            #11eb68 100.03%
          );
          border-radius: 10px;
          width: 100%;
        }
      }
    }
    .fundamentals {
      padding: 30px 0;
      h2 {
        font-size: 19px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          color: #abb9bf;
          width: 16.5px;
          height: 16.5px;
        }
      }
      .fundamentals-list {
        width: 100%;
        display: flex;
        gap: 80px;
        .fundamentals-table {
          width: 50%;
          padding-right: 20px;
          .fundamentals-li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17px 0;
            border-bottom: solid 1px #d3e0e6;
            box-sizing: border-box;
            max-height: 55px;
            .fundamentals-factors {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              color: #768396;
            }
            .fundamentals-data {
              font-size: 13px;
              font-weight: 500;
              line-height: 20px;
              color: #111827;
            }
            .allTime-data {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              color: #111827;
              text-align: right;
              .allTime-high {
                color: #f7324c;
              }
              .allTime-low {
                color: #0fba83;
              }
            }
            .allTime-description {
              font-size: 11px;
              font-weight: 400;
              line-height: 20px;
              color: #111827;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .navigation-tab {
    flex-direction: column;
    gap: 5px;
    a {
      padding: 5px 0;
    }
  }
  .performance {
    .performance-container {
      padding: 16px 10px;
      border: 1px solid #dee1e6;
      .performance-metrix {
        margin: 22px 0;
        .performances-details {
          gap: 10px;
          .low-high {
            .price {
              padding: 0 10px 0 0;
            }
          }
        }
      }
      .fundamentals {
        .fundamentals-list {
          flex-direction: column;
          gap: 0;

          .fundamentals-table {
            width: 100%;
            .fundamentals-li {
            }
          }
        }
      }
    }
  }
}
